@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Signika&display=swap');
body {
    background-color: var(--white);
}

nav.Banner{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--light-blue);
    position: absolute;
    top: 0;
    left: 0;
}
ul.Homeliststyling{
    display: flex;
    gap: 30px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}
ul.Homeliststyling:last-child{
    padding-right: 30px;

}

li.Homelist{
    list-style-type: none;
    
}

div.metric{
    font-family: 'Signika', sans-serif;
}

a img.logoStyling{
    width: 100px;
    height: 50px;
}
div.Background-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1.Title{
    font-family: 'Signika', sans-serif;
    color: var(--white);
}


div.container{
    display: flex;
    align-items: center;
}
div.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    justify-content: space-evenly;
    
}


::-webkit-scrollbar{
    width: 0px;
}
i.fa.fa-search{
    color: var(--white);
}
a#myIcon.fa.fa-search{
    text-decoration: none;
    color: var(--white);
}
a#myIcon.fa.fa-search:hover{
    color:var(--yellow2);
    transform: scale(1.2);
}

#searchBox {
    display: none;
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 10px;
    position: absolute;
    top: 78px;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    
  }
  #searchInput{
    border-radius: 5px;
    border: none;
  }
  #searchButton{
    border:none;
  }
  

div.tabell{
    height: 700px;
    width: calc(100% - 100px);
    margin: 0 auto;
    
}
.Tabellvärden{
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 100px);
}


li.styling{
    list-style-type: none;
    font-family: 'Signika', sans-serif;
    height:80px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid;
    border-color:gray;
    padding-left: 10px;
    border-radius: 7.5px;
    justify-content: space-evenly;
    position: relative;
}

li.styling:hover{
    transform: scale(1.005);
    background-color: var(--light-blue);
}

li.styling > div:first-of-type{
    position: absolute;
    left: 10px;
}


.tabell > :nth-child(n+1){
    margin-top: 10px;

}
span.dates{
    font-size: 14px;
}
svg{
    width: 50px;
    height: 50px;
}

div.värden{
    display:flex;
    align-items: center;
}

li.Homelist > a{
    color: var(--light-blue);
    text-decoration: none
}
