@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Signika&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
}
nav.Banner{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--light-blue);
    position: absolute;
    top: 0;
}
ul.Homeliststyling{
    display: flex;
    gap: 30px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}
ul.Homeliststyling:last-child{
    padding-right: 30px;
}
li.Homelist{
    list-style-type: none;
}
li.Homelist:last-child{
    color: var(--white);
}
img.logoStyling{
    width: 100px;
    height: 50px;
}
div.Background-container{
    width: 100vw;
    height: 100vh;
    background-image: url(../Bilder/I\ trust\ in\ emilv2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1.Title{
    font-family: 'Signika', sans-serif;
    color: var(--white);
}
h1.Hometext{
    font-size: 80px;
    margin: 0px;
}
h2.Hometext{
    font-size: 30px;
    margin: 0px;
}
.Hometext{
    font-family: 'Permanent Marker', sans-serif;
    color: var(--black);
}
div.container{
    display: flex;
    align-items: center;
}
div.FormContainer *{
    margin: 0;
}
div.FormContainer{
    background-image: url(../Bilder/Tree.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Fade_blue{
    background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(250, 132, 26,1) 50%, rgba(0,0,0,0) 100%);
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 75%;
}
.Inputstyling{
    border-radius: 10px;
    width: clamp(200px,10%,300px);
    height: 40px;
    border: 3px solid;
    border-color: var(--darker-orange);
}
div.FormContainer div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.FormContainer div form input:first-child{
    margin-top: 20px;
}
div.FormContainer div h1{
    color: var(--brown);
    font-family: 'Signika', sans-serif;
}
input.Inputstyling::placeholder{
    color: var(--main-orange);
    font-family: 'Signika', sans-serif;
}
div.FormContainer div form input:last-child{
    width: clamp(170px,10%,220px);
    height: 35px;
    border: 3px solid;
    border-color: var(--brown);
    border-radius: 7px;
    color: var(--yellow2);
    font-family: 'Signika', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
div.FormContainer div form input{
    outline: none;
}
div.Lines{
    border: 4px solid;
    border-radius: 10px;
    border-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: rgb(24, 40, 51,0.5);
}