:root {
    --main-yellow: #FFC619;
    --yellow2: #f3af29;
    --main-orange: #FDA300;
    --darker-orange: #FA841A;
    --blue: #004DA9;
    --light-blue: #9DD9F3;
    --dark-blue: #1F4762;
    --black: #182833;
    --white: #E1E3E7;
    --brown: #E09F5A;
    --logo-design: img(Bilder\Logo-removebg-preview.png);
    
}